﻿@{
    ViewData["Title"] = "Библиотекарь";
}
@using LibraryContracts.ViewModels
@model LibrarianViewModel

@if (TempData["Message"] != null)
{
    <div style="position: absolute; z-index: 2; width: 80%; left: 50%; transform: translate(-50%, -50%);" id="myBlock" class="fade-out-transition alert alert-danger">
      @TempData["Message"]
    </div>

    <style>
      .fade-out-transition {
        opacity: 1;
        transition: opacity 1s;
      }

      .fade-out-transition.fade-out {
        opacity: 0;
      }
    </style>

    <script>
      // Через небольшую задержку, добавляем класс для запуска перехода
      setTimeout(function() {
        const myBlock = document.getElementById("myBlock");
        myBlock.classList.add("fade-out");
      }, 3000);

      // По окончании перехода, убираем блок
      const myBlock = document.getElementById("myBlock");
      myBlock.addEventListener("transitionend", function() {
        myBlock.style.display = "none";
      });
    </script>
}

<div class="text-center">
    <h3 class="display-4">@ViewData["Title"]</h3>
</div>

<form method="post">
    <br />
    <div class="row">
        <div class="col-4">Полное имя:</div>
        <div class="col-8"><input style="width: 100%" type="text" name="librarianFullName" id="librarianFullName" value="@Model.FullName"/></div>
    </div>
    <br />
    <div class="row">
        <div class="col-4">Логин:</div>
        <div class="col-8"><input style="width: 100%" type="text" name="librarianLogin" id="librarianLogin" value="@Model.Login"/></div>
    </div>
    <br />
    <div class="row">
        <div class="col-4">Пароль:</div>
        <div class="col-8"><input style="width: 100%" type="text" name="librarianPassword" id="librarianPassword" value="@Model.Password"/></div>
    </div>
    <br />
    <div class="row">
        <div class="col-4">Номер филиала:</div>
        <div class="col-8"><input required style="width: 100%" type="number" name="librarianBranchId" id="librarianBranchId" value="@Model.BranchId"/></div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Номер
                </th>
                <th>
                    Филиал
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.brunchDictionary)
            {
                <tr>
                    <td>
                        @item.Key
                    </td>
                    <td>
                        @item.Value
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <br />
    <div class="row">
        <div class="col-4"></div>
        <div class="col-8">
            <input class="btn btn-dark" type="submit" value="Изменить" class="btn btn-success" />
            <a class="btn btn-secondary" asp-action="Librarians">Отмена</a>
        </div>
    </div>
</form>
